# Library
node_modules/
.ipynb_checkpoints/
*.pyc
.directory

# Credentials
.cred/

# Example code
apps/aws-bootstrap-kit-examples/
apps/app-runner-fastapi/
apps/lambda-docker-example/
apps/lambda-docker-fastapi/
apps/lambda-docker-resnet/
apps/lambda-docker-fastapi-temp/
apps/crafting_td_python/

# temp files
temp*
tmp*
