# CDK asset staging directory
.cdk.staging
cdk.out

# Library
.venv/
.ipynb_checkpoints/
node_modules/
__pycache__/

*.pyc
.directory
*.swp
package-lock.json
.pytest_cache
*.egg-info


# Credentials
.cred/

# Example code
*buk/
tmp/
temp/
temp*
tmp*
